<div class="container tabl">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" [(ngModel)]="inputfilter" name="inputfilter"  aria-label="Search">
    <div class="container-fluid justify-content-center table-responsive ">

        <table class="table table table-striped ">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Cedula</th>
                    <th scope="col">Email</th>
                    <th scope="col">Actualizar</th>
                    <th scope="col">Elimnar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of datos|seach:inputfilter  | paginate: { itemsPerPage: itempages, currentPage: p }; let index =index ">
                    <th scope="row">{{index + 1}}</th>
                    <td>{{item.nombre}}</td>
                    <td>{{item.apellido}}</td>
                    <td>{{item.cedula}}</td>
                    <td>{{item.corroe}}</td>
                 
                
                    <td>
                       <a type="button" class="btn btn-primary button justify-content-center" [routerLink]="['/actualizar/',item.id]" routerLinkActive="router-link-active" > 
                          ACTUALIZAR
                        </a>
                    </td>
                    <td>
                        <a type="button" class="btn btn-danger button" (click)="delet(item)" >
                        ELIMINAR
                         </a>
                    </td>
                </tr>

            </tbody>
        </table>

    </div>
    <pagination-controls class="pagination pagic" previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="p = $event"></pagination-controls>

</div>