<div class="container">

    <h1>Hola Bienvenido </h1>
    <ol>
   
        <li> <p> Paso para la instalación </p></li>
        <li><p>  Versión de angular 11.2.10 </p></li>
        <li> <p> instalar la base de datos </p> </li>
        <li> <p> Base de Datos mysql  </p> <pre> phpmyadmin </pre></li>
        <li> crear una base de datos ->  "formulario"   </li>
        <li>   NPM INSTALLER   <pre> Angular y Node</pre>  </li>
        <li> <p> importa la tablas </p> <pre> lo puede hacer desde node o manual</pre> </li>
    
        <li>FIN</li>
   
    </ol>
    

</div>

